.form {
    height: 60px;
    display: flex;
    border: 1px solid rgba(25, 25, 25, 0.32);
}

.form_input {
    flex: 1;
    font-size: 16px;
    font-family: "Rubik";
    padding: 20px;
}

.attachment_button,
.location_button,
.audio_button {
    color: #757575;
    border: 0;
    background-color: white;
    cursor: pointer;
    transition: opacity 0.2s, color 0.2s;
}

.attachment_button {
    padding-right: 5px;
    padding-left: 10px;
}

.location_button,
.audio_button {
    padding-right: 10px;
    padding-left: 5px;
}

.attachment_button:hover,
.location_button:hover,
.audio_button:hover {
    opacity: 0.8;
}
  
.attachment_button:active,
.location_button:active,
.audio_button:active {
    opacity: 0.8;
    color: #aa00ff;
}

input[type=submit] {
    visibility: collapse;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
}