.history_button_container {
    margin: 20px 0px 20px 30px;
    height: 40px;
    width: 40px;
}

.history_icon {
    scale: 150%;
    background-color: #EAF0FC;
    color: #1B73E8;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.history_button_title {
    display: inline-block;
    margin: 0px 0px 20px -8px;
    color: #1B73E8;
}