.header {
    display: flex;
    height: 90px;
    background-color: #8E24AA;
}

.page_title {
    flex-grow: 1;
    display: flex;
    color: white;
    align-items: center;
    padding-left: 10px;
    font-size: 24px;
}

.back_button, 
.done_button {
    background-color: #8E24AA;
    color: white;
    border: 0;
    //flex-basis: 60px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.link {
    flex-basis: 72px;
}

.back_button,
.done_button {
    padding: 31px 24px;
}

.back_button:hover, 
.done_button:hover {
    background-color: #ab47b2;
}

.back_button:active, 
.done_button:active {
    background-color: rgb(151, 48, 195);
}