.message_right {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 4px 20px 0px 20px;
    margin: 8px;
    word-break: break-word;
    align-self: flex-end;
    background-color: #F3E5F5;
    border: 1px solid #DCD8DD;
    animation: message_right_animation 0.3s;
}

.message_left {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 4px 20px 0px 20px;
    margin: 8px;
    max-width: 400px;
    word-break: break-word;
    align-self: flex-start;
    background-color: white;
    border: 1px solid #FAFAFA;
    animation: message_left_animation 0.3s;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.message_text {
    font-size: 16px;
}

.message_info {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-end;
}

.message_time {
    color: #696969;
    font-size: 13px;
    align-self: flex-end;
    padding: 0 0 4px;
}

.message_status {
    color: #8E25AA;
}

@keyframes message_right_animation{
    from {
        transform: scale(0);
        transform-origin: bottom right;
    }
  
    to {
        transform: scale(1);
        transform-origin: bottom right;
    }
}

@keyframes message_left_animation{
    from {
        transform: scale(0);
        transform-origin: bottom left;
    }
  
    to {
        transform: scale(1);
        transform-origin: bottom left;
    }
}

.image {
    max-width: 500px;
    padding-bottom: 20px;
}

.author {
    padding-bottom: 10px;
    color: #8E25AA;
    font-weight: bold;
    font-size: small;
}

.text_and_emojis {
    display: flex;
}